/* On mobile */

@media (max-width: 46.1875em) {
  .app {
    width: 375px;
  }
  .card {
    width: 327px;
    height: auto;
    margin: 96px 0;
    flex-direction: column-reverse;
  }
  .card .card__content {
    padding: 42px 20px;
    text-align: center;
  }
  .card__content .content__heading h2 {
    font-size: 30px;
  }
  .card__img::before,
  .card__img img {
    border-radius: 6px 6px 0 0;
  }
  .card__img img {
    width: 100%;
  }
  .card__content .content__info {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
  }
  .content__info .box {
    margin-top: 32px;
  }
}