:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.app {
  width: 1440px;
  min-height: 800px;
  background-color: var(--main-background);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 1110px;
	border-radius: 6px;
  background: var(--card-background);
  display: flex;
}
.card .card__content,
.card .card__img {
	flex: 1;
}
.card .card__content {
  color: hsl(0, 0%, 100%);
  padding: 64px 120px 64px 75px;
}

.card__content .content__heading h2{
  font-size: 35px;
}

.card__content .content__heading span {
  color: var(--accent);
}

.card__content .content__main {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.7;
  margin-top: 32px;
}

.card__content .content__info {
  margin-top: 72px;
  display: flex;
}

.card__content .content__info>div{
  flex: 1;
}

.card__content .content__info p {
  font-size: 12px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

.card__img {
  position: relative;
}
.card__img img {
	display: block;
	border-radius: 0 6px 6px 0;
}

.card__img::before {
  content: "";
  position: absolute;
	border-radius: 0 6px 6px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(277, 64%, 61%, .4);
}